<ion-view view-title="{{ 'mm.login.connecttomoodle' | translate }}">
  <ion-nav-buttons side="secondary">
      <button class="button button-icon ion-help-circled" ng-click="showHelp()" aria-label="{{ 'mm.core.help' | translate }}"></button>
  </ion-nav-buttons>
  <ion-content padding="true" id="mm-login-site" mm-state-class class="mm-center-view">
    <form class="mm-view-content">
      <div class="box">
        <div class="text-center padding">
          <img ng-src="img/logo_ugc_e.png" class="imgcenter">
        </div>
         <p class="padding"><B>Unidad de Educación Virtual "Proyectando las Nuevas Tecnologías en la Educación" </B> </p>
         <hr />
        <p class="padding">Digite la siguiente URL <B>{{ 'mm.login.newsitedescription' | translate }}</B> Posteriormente seleccione el botón ingresar.</p>
        <div class="list item item-input">
          <input type="url" placeholder="Por favor digite la siguiente url virtualidad.ugc.edu.co/" ng-model="siteurl" mm-no-input-validation mm-auto-focus >
        </div>
        <button class="button button-block button-positive" ng-click="connect(siteurl)" ng-disabled="!siteurl">{{ 'mm.login.connect' | translate }}</button>
      </div>
    </form>
  </ion-content>
</ion-view>
